<div class="table__content">
    <div class="table__cell">
        <p class="table__text">
            In computer science, <span> binary search</span> 
            is a search algorithm that finds
            the position of a target value within a sorted array.
        </p>
    </div>
    <div class="table__cell">
        <p class="table__text">
            <span>Depth-first search</span> (DFS) is an 
            algorithm for traversing or searching 
            tree or graph data structures.
        </p>
    </div>
    <div class="table__cell">
        <p class="table__text">
            <span>Quicksort</span> is an in-place sorting 
            algorithm. When implemented well, 
            it can be somewhat faster than merge 
            sort and about two times faster 
            than heapsort.
        </p>
    </div>
    <div class="table__cell">
        <p class="table__text">
            In computer science, a <span>linked list</span> is a
            linear collection of data elements whose order
            is not given by their physical placement in memory.
        </p>
    </div>
    <div class="table__cell">
        <p class="table__text">
            <span>O(1)</span>
        </p>
    </div>
</div>