<div class="table__header">
    <div class="table__cell table__cell_radius_top_left">
        <p class="table__label">Search Algorithms</p>
    </div>
    <div class="table__cell">
        <p class="table__label">Graph Algorithms</p>
    </div>
    <div class="table__cell">
        <p class="table__label">Sort Algorithms</p>
    </div>
    <div class="table__cell">
        <p class="table__label">Structures</p>
    </div>
    <div class="table__cell table__cell_radius_top_right">
        <p class="table__label">Big O notation</p>
    </div>
</div>