<div class="search">
    <div class="search__block">
        <input class="search__input" type="text" placeholder="Enter the search string">
        <img class="search__icon" src="img/search.svg">
    </div>
    <select name="labels" class="search__select">
        <option value="Search Algorithms">Search Algorithms</option>
        <option value="Graph Algorithms">Graph Algorithms</option>
        <option value="Sort Algorithms">Sort Algorithms</option>
        <option value="Structures">Structures</option>
        <option value="Big O notation">Big O notation</option>
    </select>
    <button class="search__button">
        Search
    </button>
</div>