.search {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;

    .search__block {
        display: flex;
        position: relative;
        flex-basis: 60%;
        align-items: center;
    }

    .search__input {
        box-sizing: border-box;
        width: 100%;
        background: $black;
        border-radius: 10px;
        height: 33px;
        border: none;
        cursor: pointer;

        @include setFont('Orbitron', normal, 12px, 15px, 400, $white);
        outline: none;
        padding-left: 35px;
    }

    .search__input::placeholder {
        opacity: 0.5;
    }

    .search__icon {
        position: absolute;
        left: 10px;
    }

    .search__select {
        padding-left: 10px;
        flex-basis: 18%;
        height: 33px;
        margin-left: 2%;
        background: $black;
        border: none;
        border-radius: 10px;
        @include setFont('Orbitron', normal, 12px, 15px, 400, $white);
        outline: none;
        cursor: pointer;
    }

    .search__button {
        flex-basis: 18%;
        margin-left: 2%;
        height: 33px;
        background: $light;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        @include setFont('Orbitron', normal, 12px, 15px, 700, $white);
        border: none;
        padding: 0;
    }

    .search__button:hover {
        background-color: #4f51bb;
        transition: 0.3s;
    }
}