@font-face {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Orbitron-Bold.ttf') format('truetype');
}

$black: #1C1C24;
$white: #FFFFFF;
$light: #8688FF;

@mixin setFont($fontFamily, $fontStyle, $fontSize, $lineHeight, $fontWeight, $color) {
    font-family: $fontFamily, sans-serif;
    font-style: $fontStyle;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color;
}

body {
    background-color: #131419;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.table {
    max-width: 1600px;
    margin: 20px auto;

    .table__title_view_phone {
        display: none;
    }

    .table__label {
        @include setFont('Orbitron', normal, 18px, 23px, 700, $white);
        text-align: center;
    }

    .table__header {
        display: flex;

        .table__cell {
            min-height: 59px;
        }

        .table__cell:hover {
            background-color: $light;
            color: $white;
            transition: 0.5s;
        }
    }

    .table__content {
        display: flex;

        .table__cell:hover {
            box-shadow: 0px 0px 6px $light;
            transition: 0.5s;
        }

        .table__text {
            @include setFont('Orbitron', normal, 12px, 15px, 400, $white);
        }

        .illuminate {
            color: rgb(231, 94, 94);
        }

        @keyframes animate {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
    }

    .table__cell {
        flex-basis: 20%;
        background: $black;
        min-height: 130px;
        margin-left: 3px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px;
    }

    .table__cell_radius_top_left {
        border-top-left-radius: 20px;
    }

    .table__cell_radius_top_right {
        border-top-right-radius: 20px;
    }
    
    .table__cell_radius_bottom_right {
        border-bottom-right-radius: 20px;
    }

    .table__cell_radius_bottom_left {
        border-bottom-left-radius: 20px;
    }

    .table__text_color_green {
        color: #9CE960;
    }
}

@import "search";
@import "media";